<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />

  <param name="r3/robot_description" command="$(find xacro)/xacro
              $(find r3_2020)urdf/r3_2020.urdf.xacro"/>
  <rosparam file="$(find r3_2020)/config/r3_controller.yaml" command="load"/>

  <node
    name="tf_footprint_base" 
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param r3/robot_description -robot_namespace /r3 -urdf -model r3_2020"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner" 
        output="screen" ns="/r3" args="right_blade_controller joint_state_controller"/>

</launch>